.App {
  text-align: center;
}

.logo {
  height: 50px;
}

.productList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 10px;
  padding: 1rem;
}

.productTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* width: 300px; */
}

.productInfor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.productDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4rem 20rem 4rem 20rem;
}

.cartList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 700px;
}

.footer {
  margin-top: 3rem;
}

.footerIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: 2rem;
}
